html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  background-color: #f4f4f4; }

.btn,
.btn:visited {
  display: inline-block;
  background-color: #00A66D;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  min-height: 31px;
  line-height: 31px;
  font-size: 12px;
  padding: 0 1.5rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 3px solid #00A66D;
  letter-spacing: .25px; }

.btn:hover {
  background-color: #3db3e4;
  border: 3px solid #3db3e4;
  cursor: pointer; }

.btn--transparent {
  background-color: transparent;
  color: #000000;
  border: 3px solid #00A66D; }
  .btn--transparent:hover {
    background-color: #00A66D;
    color: #ffffff;
    border: 3px solid #00A66D; }

.visually-hidden {
  display: none !important;
  opacity: 0 !important;
  position: absolute !important; }

input,
textarea {
  font-size: 12px;
  padding: 7px;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 2px;
          border-radius: 2px; }
  input:focus,
  textarea:focus {
    outline: 1px solid #00A66D;
    border: 1px solid #00A66D; }

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "PT Serif", Georgia, serif; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: Helvetica, Arial, sans-serif; }

h1,
.h1 {
  font-size: 2.25rem;
  line-height: 1.25; }

h2,
.h2 {
  font-size: 1.5rem;
  line-height: 1.25; }

h3,
.h3 {
  font-size: 1.125rem;
  line-height: 1.25; }

strong,
.strong {
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px; }

small,
.small {
  font-size: smaller;
  line-height: 1.5;
  display: inline-block; }

.container {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }
  @media only screen and (min-width: 768px) {
    .container {
      padding: 0 30px; } }
  @media only screen and (min-width: 992px) {
    .container {
      padding: 0 50px; } }
  @media only screen and (min-width: 1200px) {
    .container {
      width: 1200px;
      padding: 0 80px; } }
  @media only screen and (min-width: 1400px) {
    .container {
      width: 1360px; } }
  .container--padding-vertical {
    padding-top: 70px;
    padding-bottom: 70px; }
  .container--padding-vertical-mini {
    padding-top: 35px;
    padding-bottom: 35px; }
  .container--dark {
    background-color: #282562;
    color: #ffffff; }

.wrapper--center {
  width: 100%;
  max-width: 650px;
  margin: 0 auto; }

.menu__top {
  padding: 15px;
  display: none;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif; }
  .menu__top ul, .menu__top li {
    margin: 0;
    padding: 0;
    list-style: none; }
  .menu__top ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .menu__top li {
    margin-right: 25px;
    text-transform: uppercase;
    font-weight: bold; }
  .menu__top li a,
  .menu__top li a:visited {
    color: #727272;
    text-decoration: none; }
  .menu__top li a:hover {
    color: black; }
  .menu__top li a:active {
    color: #20c06b; }
  @media only screen and (min-width: 993px) {
    .menu__top {
      display: block;
      opacity: 1;
      padding: 15px 80px; } }
  @media only screen and (min-width: 1201px) {
    .menu__top {
      width: 1200px;
      margin: 0 auto; } }
  @media only screen and (min-width: 1401px) {
    .menu__top {
      width: 1360px;
      margin: 0 auto; } }

.menu__wrap {
  padding-top: 15px; }

.menu__middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.menu__logo img {
  display: block; }

.menu__moto {
  display: none;
  opacity: 0;
  font-weight: bold;
  font-family: 'Museo Sans Cyrl', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 1.6;
  margin: 0 auto; }

.menu__search {
  margin-left: auto;
  margin-right: 10px;
  font-size: 0;
  cursor: pointer; }

.menu__toggle {
  display: none;
  opacity: 0;
  position: absolute; }
  .menu__toggle-label {
    font-size: 0;
    width: 24px;
    height: 20px;
    position: relative;
    display: block;
    border-top: 2px black solid;
    cursor: pointer; }
  .menu__toggle-label::before, .menu__toggle-label::after {
    content: '';
    width: 24px;
    height: 2px;
    position: absolute;
    background-color: black;
    display: block;
    left: 0; }
  .menu__toggle-label::before {
    top: 7px; }
  .menu__toggle-label::after {
    top: 16px; }

.menu__mobile {
  display: none;
  opacity: 0;
  width: 100%; }
  .menu__mobile ul,
  .menu__mobile li {
    margin: 0;
    padding: 0;
    list-style: none; }
  .menu__mobile > ul {
    margin: 15px 0; }
  .menu__mobile > ul > li > ul {
    margin-left: 30px; }
  .menu__mobile a,
  .menu__mobile a:visited {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none; }
  .menu__mobile a:hover {
    color: black; }
  .menu__mobile a:active {
    color: #20c06b; }

.menu__toggle:checked ~ .menu__mobile {
  display: block;
  opacity: 1; }

@media only screen and (min-width: 769px) {
  .menu__moto {
    display: block;
    opacity: 1; }
  .menu__search {
    margin-left: 60px; } }

@media only screen and (min-width: 993px) {
  .menu__logo img {
    height: 60px;
    width: auto; }
  .menu__moto {
    font-size: 36px; }
  .menu__search {
    margin-left: 151px;
    margin-right: 0; }
  .menu__toggle-label {
    display: none;
    opacity: 0; }
  .menu__mobile {
    display: none !important;
    opacity: 0; } }

.menu__bottom {
  display: none;
  opacity: 0;
  margin-top: 30px;
  font-family: Helvetica, Arial, sans-serif; }
  .menu__bottom ul,
  .menu__bottom li {
    margin: 0;
    padding: 0;
    list-style: none; }
  .menu__bottom ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .menu__bottom li {
    margin-right: 25px;
    text-transform: uppercase;
    font-weight: bold; }

@media only screen and (min-width: 993px) {
  .menu__bottom {
    display: block;
    opacity: 1; } }

.menu__bottom li a,
.menu__bottom li a:visited {
  color: #727272;
  text-decoration: none; }

.menu__bottom li a:hover {
  color: black; }

.menu__bottom li a:active {
  color: #20c06b; }

.entry-header h1,
.entry-header .h1 {
  margin-top: 0;
  margin-bottom: 1.5rem; }

.entry-content h2,
.entry-content .h2 {
  margin-top: 2rem;
  margin-bottom: 1rem; }

.entry-content ul,
.entry-content ol {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 20px; }

.entry-content ul li,
.entry-content ol li {
  font-size: inherit;
  line-height: inherit;
  padding-left: 40px;
  position: relative;
  margin-bottom: 10px;
  list-style: none; }

.entry-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative; }
  .entry-content ul li {
    margin: 0;
    margin-bottom: .75rem;
    padding: 0;
    padding-left: 40px;
    list-style: none;
    position: relative; }
    .entry-content ul li::after {
      width: 9px;
      height: 9px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.25);
      left: 20px;
      background-image: none;
      top: 9px;
      content: '';
      display: block;
      position: absolute; }

.entry-content ol {
  counter-reset: myCounter; }

.entry-content ol li::after,
.entry-content .p__number {
  font-size: 12px;
  line-height: 20px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #00A66D;
  color: #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  counter-increment: myCounter;
  content: counter(myCounter);
  top: 2px;
  left: 0; }

.entry-content ol li::after {
  left: 10px;
  position: absolute; }

.entry-content a,
.entry-content a:visited {
  color: #00A66D;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 166, 109, 0.25); }

.entry-content a:hover {
  color: #3db3e4;
  border-bottom: 1px solid rgba(61, 179, 228, 0.25); }

.entry-content .cover {
  display: block;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 769px) {
    .entry-content .cover {
      width: 650px;
      height: 422px; } }
  .entry-content .cover img {
    display: block;
    width: 100%;
    height: auto; }
    @media only screen and (min-width: 769px) {
      .entry-content .cover img {
        position: absolute;
        top: 0;
        left: -50px;
        width: 750px; } }

.related-inside {
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .related-inside ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative; }
    .related-inside ul li {
      margin: 0;
      margin-bottom: .75rem;
      padding: 0;
      padding-left: 40px;
      list-style: none;
      position: relative; }
      .related-inside ul li::after {
        width: 9px;
        height: 9px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.25);
        left: 20px;
        background-image: none;
        top: 9px;
        content: '';
        display: block;
        position: absolute; }
    .related-inside ul li {
      margin-bottom: .75rem; }
  .related-inside__text {
    font-weight: bold;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 1rem;
    display: block; }
  .related-inside__article {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .related-inside__link {
    font-weight: bold;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    color: #00A66D;
    border-bottom: 1px solid rgba(0, 166, 109, 0.25);
    text-decoration: none; }
    .related-inside__link:hover {
      border: 0;
      border-bottom: 1px solid rgba(61, 179, 228, 0.25);
      color: #3db3e4; }
  .related-inside__picture {
    margin-right: 1.25rem; }
  .related-inside__picture img {
    display: block;
    width: 100%;
    max-width: 150px;
    height: auto; }

.subscribe {
  background-color: #f0f5f0;
  margin: 2rem 0;
  padding: 20px;
  text-align: center; }
  .subscribe__title {
    font-size: 21px;
    line-height: 1.25;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    font-family: Helvetica, Arial, sans-serif; }
  .subscribe__text {
    padding: 0 !important;
    margin: 0;
    margin-bottom: 10px;
    text-align: center; }
  .subscribe ul {
    margin: 0;
    padding: 0; }
  .subscribe li {
    margin: 7px;
    padding: 0; }
  .subscribe__btn-wrap {
    display: inline-block; }
    .subscribe__btn-wrap:after {
      display: none; }
  .subscribe__btn {
    min-width: 150px; }

.author {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .author__picture {
    width: 100%;
    max-width: 150px;
    margin-right: 1.5rem; }
    .author__picture img {
      width: 100%;
      display: block;
      -webkit-border-radius: 2px;
              border-radius: 2px; }
  .author__name {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif; }
  .author__btn {
    margin-top: 1rem; }

.share {
  margin-top: 2rem; }
  .share__title {
    margin-bottom: .25rem;
    display: block;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px; }
  .share ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .share li {
    margin-right: .5rem;
    min-width: 60px;
    display: block;
    -webkit-border-radius: 2px;
            border-radius: 2px; }
  .share--vk {
    background-color: #5d84ab; }
  .share--facebook {
    background-color: #4267b2; }
  .share--twitter {
    background-color: #54aced; }
  .share--googleplus {
    background-color: #de4b3a; }
  .share img {
    width: 37px;
    display: block;
    -webkit-border-radius: 2px;
            border-radius: 2px; }

.entry-related__heading {
  margin-bottom: 1em; }

.entry-related__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.entry-related__item {
  width: 100%;
  margin-bottom: 40px; }
  .entry-related__item-wrap {
    display: block; }
  .entry-related__item img {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto; }

.entry-related__text {
  margin-top: 1rem;
  padding: 0; }

.entry-related__title {
  margin-bottom: 2rem; }

.entry-related__link, .entry-related__link:visited {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25); }
  .entry-related__link:hover, .entry-related__link:visited:hover {
    color: #3db3e4;
    border-bottom: 1px solid rgba(61, 179, 228, 0.25); }

.entry-related__cta {
  margin-top: 2rem;
  text-align: center; }

@media only screen and (min-width: 577px) {
  .entry-related__item {
    width: 50%; }
    .entry-related__item:nth-of-type(1), .entry-related__item:nth-of-type(3) {
      padding-right: 20px; }
    .entry-related__item:nth-of-type(2) {
      padding-left: 20px; } }

@media only screen and (min-width: 769px) {
  .entry-related__item {
    width: 33.333%;
    margin-bottom: 0; }
    .entry-related__item:nth-of-type(1) {
      padding-right: 0; }
    .entry-related__item:nth-of-type(2) {
      padding-left: 0; }
    .entry-related__item:nth-of-type(1) {
      padding-right: 26px; }
    .entry-related__item:nth-of-type(2) {
      padding-left: 13px;
      padding-right: 13px; }
    .entry-related__item:nth-of-type(3) {
      padding-left: 26px; } }

@media only screen and (min-width: 993px) {
  .entry-related__item:nth-of-type(1) {
    padding-left: 0;
    padding-right: 40px; }
  .entry-related__item:nth-of-type(2) {
    padding-left: 20px;
    padding-right: 20px; }
  .entry-related__item:nth-of-type(3) {
    padding-left: 40px;
    padding-right: 0; } }

.the_champ_error {
  display: none; }

.the_champ_outer_login_container {
  display: none; }

.comment-notes {
  display: none; }

.comment-form {
  width: 100%;
  max-width: 350px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .comment-form-comment label {
    display: none; }
  .comment-form-email {
    -webkit-box-ordinal-group: -1;
    -webkit-order: -2;
        -ms-flex-order: -2;
            order: -2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .comment-form-author input,
  .comment-form-email input {
    max-width: 260px; }
  .comment-form-email-note {
    font-size: 15px; }

.comments__title {
  margin-top: 0;
  margin-bottom: 1.25rem; }

.comments__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.comments__item {
  list-style: none;
  margin: 0;
  margin-bottom: 1.25rem;
  padding: 0; }
  .comments__item:last-of-type {
    margin-bottom: 0; }

.comments__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.comments__item .children {
  width: 100%; }

.comments__item .children .comments__item {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem; }

.comments__item .children .comments__item:last-of-type {
  margin-bottom: 0; }

.comments__avatar {
  display: none;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
  @media only screen and (min-width: 577px) {
    .comments__avatar {
      display: block;
      margin-right: 15px; } }
  .comments__avatar img {
    display: block;
    -webkit-border-radius: 2px;
            border-radius: 2px; }
    @media only screen and (min-width: 769px) {
      .comments__avatar img {
        width: 80px;
        height: 80px; } }

.comments__name {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px; }

.comments__text {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 10px; }

.comments__meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.comments__time {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  margin-right: 1rem; }

.comments__reply a {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  color: #00A66D;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 166, 109, 0.25); }
  .comments__reply a:hover {
    color: #3db3e4;
    border-bottom: 1px solid rgba(61, 179, 228, 0.25); }

.add-comment {
  width: 100%;
  max-width: 350px;
  margin-top: 2rem;
  margin-bottom: 1.5rem; }
  .add-comment__title {
    display: block;
    margin-bottom: .7rem; }
  .add-comment__row {
    margin-bottom: .8rem; }
  .add-comment__social-text {
    margin-top: 0;
    margin-bottom: .25rem; }
  .add-comment__social ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .add-comment__social li {
    width: 100%;
    max-width: 30px;
    margin-right: .25rem; }
  .add-comment__social img {
    display: block;
    width: 100%; }
  .add-comment__column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: .8rem; }
    .add-comment__column label {
      display: inline-block;
      min-width: 70px;
      margin-right: 20px;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      line-height: 30px; }
    .add-comment__column input {
      width: 100%;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
  .add-comment textarea {
    width: 100%; }
  .add-comment__text {
    margin-top: 0;
    margin-bottom: .8rem; }
